@use "../../styles/colors";

.hero {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 420px;
    padding-top: 88px;
    background-color: colors.$primary_main;
}

.text {
    text-transform: uppercase;
}