@use "../../styles/colors";



.media  {
    margin-top: 10px;
    border-radius: 15px;
}

.cardText {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-weight: 900 !important;
}

.price {
    font-size: 0.88rem !important;
    font-weight: 700 !important;
}

