@use "../../styles/colors";

.container {
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: colors.$background_paper;
    ;
  }

.search-field {
    background-color: colors.$background_default;
    border-radius: 30px;
    width: 580px;

}
  
.search-icon {
    color: colors.$text_primary
}

.text-button {
    color: colors.$text_primary !important;
    text-transform: capitalize !important;
    font-weight: 400 !important;
}